<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="base.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="D:/Projects/SwagLabsTestAutomation">
        <classes>
            <class name="PageTests.LoginPageTests"></class>
            <class name ="PageTests.ProductsPageTests"></class>
            <class name ="PageTests.CartPageTests"></class>
            <class name="PageTests.CheckoutInformationTests"></class>

            <class name="PageTests.E2ETests"></class>

        </classes>
    </test>
</suite>